# Web
Django==5.0.6
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
django-filter==24.3
gunicorn==22.0.0
whitenoise==6.7.0

# Base de données
psycopg2-binary==2.9.9

# Stockage fichiers (MinIO via API S3)
django-storages[s3]==1.14.4
boto3==1.35.0

# Moteur de recherche
meilisearch==0.31.3

# Traitement fichiers
Pillow==10.4.0
pdfplumber==0.11.4

# Config
python-decouple==3.8
