# Web
Django==6.0.7
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
django-filter==26.1
gunicorn==22.0.0
whitenoise==6.12.0

# Base de données
psycopg2-binary==2.9.12

# Cache & Queue
redis==5.0.8
celery[redis]==5.4.0
django-redis==5.4.0

# Stockage fichiers (MinIO via API S3)
django-storages[s3]==1.14.6
boto3==1.43.50

# Moteur de recherche
meilisearch==0.42.0

# Traitement fichiers
Pillow==12.3.0
pdfplumber==0.11.10

# Config
python-decouple==3.8
